.c-1 {
    background-image: url('./cardmodels/AC.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-1 {
    background-image: url('./cardmodels/AD.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-1 {
    background-image: url('./cardmodels/AH.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-1 {
    background-image: url('./cardmodels/AS.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-2 {
    background-image: url('./cardmodels/2C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-2 {
    background-image: url('./cardmodels/2D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-2 {
    background-image: url('./cardmodels/2H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-2 {
    background-image: url('./cardmodels/2S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-3 {
    background-image: url('./cardmodels/3C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-3 {
    background-image: url('./cardmodels/3D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-3 {
    background-image: url('./cardmodels/3H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-3 {
    background-image: url('./cardmodels/3S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-4 {
    background-image: url('./cardmodels/4C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-4 {
    background-image: url('./cardmodels/4D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-4 {
    background-image: url('./cardmodels/4H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-4 {
    background-image: url('./cardmodels/4S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-5 {
    background-image: url('./cardmodels/5C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-5 {
    background-image: url('./cardmodels/5D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-5 {
    background-image: url('./cardmodels/5H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-5 {
    background-image: url('./cardmodels/5S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-6 {
    background-image: url('./cardmodels/6C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-6 {
    background-image: url('./cardmodels/6D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-6 {
    background-image: url('./cardmodels/6H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-6 {
    background-image: url('./cardmodels/6S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-7 {
    background-image: url('./cardmodels/7C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-7 {
    background-image: url('./cardmodels/7D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-7 {
    background-image: url('./cardmodels/7H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-7 {
    background-image: url('./cardmodels/7S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-8 {
    background-image: url('./cardmodels/8C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-8 {
    background-image: url('./cardmodels/8D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-8 {
    background-image: url('./cardmodels/8H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-8 {
    background-image: url('./cardmodels/8S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-9 {
    background-image: url('./cardmodels/9C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-9 {
    background-image: url('./cardmodels/9D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-9 {
    background-image: url('./cardmodels/9H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-9 {
    background-image: url('./cardmodels/9S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-10 {
    background-image: url('./cardmodels/10C.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-10 {
    background-image: url('./cardmodels/10D.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-10 {
    background-image: url('./cardmodels/10H.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-10 {
    background-image: url('./cardmodels/10S.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-11 {
    background-image: url('./cardmodels/JC.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-11 {
    background-image: url('./cardmodels/JD.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-11 {
    background-image: url('./cardmodels/JH.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-11 {
    background-image: url('./cardmodels/JS.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-12 {
    background-image: url('./cardmodels/QC.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-12 {
    background-image: url('./cardmodels/QD.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-12 {
    background-image: url('./cardmodels/QH.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-12 {
    background-image: url('./cardmodels/QS.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c-13 {
    background-image: url('./cardmodels/KC.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.d-13 {
    background-image: url('./cardmodels/KD.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.h-13 {
    background-image: url('./cardmodels/KH.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.s-13 {
    background-image: url('./cardmodels/KS.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.red-back {
    background: radial-gradient(#ff0707 18%, white 123%);
    background-image: url('./cardmodels/Red_back.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.blue-back {
    background: radial-gradient(#1707ff 18%, white 123%);
    background-image: url('./cardmodels/blue_back.jpg') !important;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
