@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    background-color: blue;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/07/65/755812093598c83.jpg);
    color: #fff;
    font-size: 18px;
    height: 100vh;
    width: 100vw;
}
.game-container {
    min-height: 100vh;
    width: 100vw;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/07/65/755812093598c83.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.opponent-box,
.player-box {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    filter: brightness(0.5);
}
.player-box {
    margin-top: -98px;
}
.opponent-box.active-player,
.player-box.active-player {
    filter: drop-shadow(2px 4px 6px black) brightness(1);
}
.timer {
    position: relative;
    height: 3px;
    background-color: #ffffff55;
    border-radius: 2px;
}
.timer::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    background-color: transparent;
}
.active-player .timer::after {
    width: 90%;
    background-color: #fff;
}
.flex-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.info {
    position: relative;
    margin-top: 12px;
    text-align: center;
}
.picked-card {
    position: absolute;
    top: 36px;
    right: 0px;
    height: 40px;
    width: 30px;
    border: 1px solid #009688;
    border-radius: 2px 0 5px 0;
}
.picture {
    height: 72px;
    width: 72px;
    background-color: #00000055;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #a6a6a8;
    border-radius: 7px;
    box-shadow: 0 0 0 4px #fff;
    margin: 0 4px;
}
.complete-cards {
    margin-top: 12px;
    width: 100%;
    height: 200px;
    border: 4px solid #507ac1;
    background: #00000047;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 12px;
    overflow-y: auto;
}
.set-one,
.set-two {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    justify-content: flex-start;
}
button.card {
    padding: 0;
    position: relative;
    height: 85px;
    width: 54px;
    margin-right: -20px;
    box-shadow: -1px 0 2px #00000044;
}
.complete-cards button.card {
    margin-right: -34px;
}
.card.empty {
    background: #f4f4f42e;
    border: 1px dotted #aaa;
    border-radius: 4px;
    margin: 0;
}
button.card .card-front-face {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
button.card .card-back-face {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
.card-back-face {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.card.flip .card-back-face {
    display: none;
}
.card.flip .card-front-face {
    display: block;
}
.card.flip + .card.empty {
    margin-left: 34px;
}
.cards-container {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100vw - 44px);
}
.player-box .flex-container {
    margin-bottom: 12px;
    align-items: flex-end;
}
.game-box {
    position: absolute;
    display: none;
}
@media (max-width: 390px) {
    .card {
        transform: scale(0.85);
    }
}
